@import "../general/general.scss";

.projects__container {
	width: 70rem;
	margin: 8rem auto;
	position: relative;

	@include media_1 {
		width: 60rem;
	}

	@include media_2 {
		width: 50rem;
		// margin-top: 0;
	}

	@include media_3 {
		width: 45rem;
	}

	@include media_4 {
		width: 38rem;
	}

	@include media_5 {
		width: 90%;
	}
	.title {
		font-size: 5rem;
		color: $color_back;
		top: 0rem;
		width: 100%;
		margin: auto;
		text-align: center;
		font-family: "Lobster";

		@include media_2 {
			font-size: 4rem;
		}
		@include media_4 {
			font-size: 3rem;
		}

		@include media_6 {
			font-size: 2.5rem;
		}
	}
	hr {
		border: 0;
		width: 100%;
		height: 1px;
		margin-top: 1rem;
		background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.9),
			rgba(0, 0, 0, 0)
		);

		@include media_4 {
			top: 8rem;
		}

		@include media_6 {
			top: 6rem;
		}

		@include media_7 {
			top: 5rem;
		}
	}

	.title_up {
		position: absolute;
		top: 6rem;
		width: 100%;
		font-family: "Lobster";
		text-align: center;
		font-size: 1.3rem;

		@include media_2 {
			top: 4rem;
		}

		@include media_4 {
			font-size: 1.1rem;
			top: 3rem;
		}
		@include media_4 {
			font-size: 1rem;
			top: 2.5rem;
		}
	}

	.projects {
		@include flex($direc: column, $gap: 7rem);
		width: 100%;
		// overflow: hidden;
		margin-top: 4rem;

		@include media_2 {
			margin-top: 5rem;
			gap: 4rem;
		}

		@include media_6 {
			margin-top: 3rem;
		}

		.project_title {
			display: none;
			width: 100%;
			@include media_2 {
				@include flex($gap: 0);
				margin-bottom: 10px;
				border-bottom: 1px solid lightgray;

				.featured {
					font-size: small;
					color: green;
				}
			}
		}

		.project {
			padding: 10px;
			display: grid;
			grid-template-columns: 1fr 100px 200px 1fr;
			grid-template-rows: 1fr;
			align-items: center;
			justify-content: center;

			@include media_2 {
				@include flex($direc: column-reverse, $gap: 0);
				padding: 1rem;
				box-shadow: inset 0 0 10px hsl(0, 0%, 83%);
				border-radius: 10px;
			}

			.image {
				cursor: pointer;
				grid-column: 2/-1;
				position: relative;
				z-index: 2;
				grid-row: 1;
				height: min-content;

				@include media_2 {
					height: auto;
					width: 100%;
				}

				img {
					width: 100%;
					height: auto;
					object-fit: cover;
					box-shadow: 0 0 10px $color_lightgray, 5px 5px 5px hsl(0, 0%, 70%);
					border-radius: 8px;
				}
			}
			.details {
				grid-row: 1;
				grid-column: 1/3;
				position: relative;
				grid-auto-rows: 30rem;
				padding: 2rem;
				height: max-content;
				box-shadow: inset 0 0 10px hsl(0, 0%, 93%);
				border-radius: 10px;
				@include media_2 {
					box-shadow: none;
					border-radius: 0;
					padding: 0;
				}
				.project_logo {
					.featured {
						color: green;
						font-size: small;
					}
					h2 {
						font-family: "Kalam";
						font-size: 2rem;
					}

					@include media_2 {
						display: none;
					}
				}

				.desc {
					width: 92%;
					z-index: 10;
					position: relative;
					background-color: #0f4c5c;
					color: $color_white;
					padding: 10px;
					border-radius: 5px;
					font-family: "Poppins";
					font-size: 14.8px;
					min-height: 10rem;
					@include media_2 {
						width: 100%;
					}

					ul {
						padding-left: 1rem;
						span {
							font-family: "Kalam";
							font-size: 1.2rem;
						}
						a {
							color: white;
						}
					}
				}

				.technologies {
					margin-top: 1rem;
					width: 83%;
					@include flex;
					gap: 5px;
					justify-content: left;
					flex-wrap: wrap;
					@include media_2 {
						width: 100%;
					}

					p {
						padding: 6px 10px;
						// background-color: lightgray;
						box-shadow: 2px 2px 5px black;
						// color: white;
						font-size: small;
						// border-radius: 5px;
					}
				}

				.redirect {
					@include flex($jus: left);
					width: 100%;
					margin-top: 0px;
					.icon {
						font-size: 1.3rem;
						color: green;
						@include transition(0.2s);
						cursor: pointer;

						&:hover {
							transform: scale(1.3);
						}
					}

					.github {
						color: rgb(90, 6, 90);
						margin-right: 14px;
					}

					button {
						// border: 2px solid $color_white;
						box-shadow: 0 0 5px black;
						cursor: pointer;
						border: none;
						background-color: black;
						font-size: 1rem;
						color: white;
						transform-origin: 50% 50%;
						padding: 8px 12px;
						@include transition(0.2s);
						&:hover {
							transform: scale(1.1);
						}
					}
				}
			}
		}
		.bloghub {
			position: relative;
			height: min-content;

			.image_out {
				grid-column: 2/-1;
				grid-row: 1;
				position: relative;
				height: min-content;
				.image {
					display: grid;
					grid-template-columns: 2rem 1fr 1rem 1rem;
					grid-template-rows: 2rem 20rem 2rem 2rem;
					flex-basis: min-content;
					height: 26rem;
					position: relative;
					@include media_2 {
						height: 100%;
						margin-bottom: 2rem;
					}

					@include media_3 {
						height: 24rem;
					}

					@include media_4 {
						height: 19.5rem;
					}

					@include media_5 {
						display: block;
						margin-bottom: 0;
						height: min-content;
					}

					.home {
						grid-row: 1/3;
						position: relative;
						z-index: 8;
						grid-column: 1/3;
						@include transition;
						transform-origin: 0 0;
						&:hover {
							transform: scale(1.03);
						}

						@include media_5 {
							display: none;
						}
					}

					.home.behind {
						grid-row: 2/-1;
						position: relative;
						grid-column: 2/-1;
						z-index: 7;

						&:hover {
							transform: scale(1);
						}
					}

					.blog {
						grid-row: 1/3;
						transform-origin: 0 0;
						position: relative;
						z-index: 8;
						@include transition;
						grid-column: 1/3;
						&:hover {
							transform: scale(1.03);
						}

						@include media_5 {
							&:hover {
								transform: scale(1);
							}
						}
					}

					.blog.behind {
						grid-row: 2/-1;
						position: relative;
						grid-column: 2/-1;
						z-index: 7;
						&:hover {
							transform: scale(1);
						}
						@include media_5 {
							transform: scale(1);
						}
					}
				}
			}

			.details {
				height: min-content;

				.redirect {
					margin-top: 20px;
				}
			}
		}
		.portfolio {
			.image {
				height: min-content;
				img {
					@include transition;
					transform-origin: 0 0;
					&:hover {
						transform: scale(1.03);
					}

					@include media_2 {
						transform-origin: 50% 50%;

						&:hover {
							transform: scale(1);
						}
					}
				}
			}

			.details {
				@include media_2 {
					.desc {
						min-height: auto;
					}
				}

				.redirect {
					margin-top: 20px;
				}
			}
		}
	}
}
