@import "../general/general.scss";

.resume__container {
	width: 78rem;
	position: relative;
	margin: auto;
	overflow: hidden;
	margin: 8rem auto 5rem;
	padding-bottom: 3rem;
	border: 2px solid $color_dark;
	position: relative;

	@media (max-width: 1300px) {
		width: 72rem;
	}
	@include media_1 {
		width: 60rem;
	}

	@include media_2 {
		width: 50rem;
	}

	@include media_3 {
		width: 45rem;
	}

	@include media_4 {
		width: 38rem;
	}

	@include media_5 {
		width: 90%;
	}

	hr {
		position: absolute;
		top: 10rem;
		border: 0;
		width: 100%;
		height: 1px;
		background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.9),
			rgba(0, 0, 0, 0)
		);

		@include media_4 {
			top: 8rem;
		}

		@include media_6 {
			top: 6rem;
		}

		@include media_7 {
			top: 5rem;
		}
	}

	.title_up {
		position: absolute;
		font-family: "Lobster";
		width: 100%;
		font-size: 2rem;
		margin: auto;
		left: -3rem;
		top: 3rem;

		text-align: center;

		@include media_2 {
			left: 0;
		}

		@include media_4 {
			top: 2.5rem;
			font-size: 1.5rem;
		}

		@include media_6 {
			top: 1.7rem;
		}

		@include media_6 {
			font-size: 1.2rem;
			top: 1.3rem;
		}
	}

	.backscript {
		position: absolute;
		// letter-spacing: 2rem;
		color: $color_back;
		font-size: 4rem;
		font-family: "Lobster";
		width: 100%;
		height: min-content;
		z-index: -1;
		margin: auto;
		padding-left: 3rem;
		left: -5rem;
		text-align: center;
		top: 0rem;

		@include media_2 {
			left: -2rem;
		}

		@include media_4 {
			font-size: 3rem;
		}

		@include media_6 {
			left: -2rem;
			font-size: 2.5rem;
		}

		@include media_7 {
			font-size: 2rem;
		}

		h1 {
			margin: 0;
			padding: 0;
		}
	}

	.resume {
		@include flex($align: flex-start);
		max-width: 95%;
		margin: auto;
		margin-top: 12rem;

		@include media_2 {
			flex-direction: column;
		}

		@include media_4 {
			margin-top: 10rem;
		}

		@include media_6 {
			margin-top: 9rem;
		}

		@include media_7 {
			margin-top: 8rem;
		}

		.edu_ach {
			@include flex($direc: column);
			flex-basis: 48%;
			.row_me {
				width: 100%;
				.education {
					.data {
						border-left: 2px solid $color_dark;
						padding-left: 10px;
						position: relative;
						@include flex($direc: column, $jus: left, $align: flex-start);
						.l_circle {
							background-color: #fff;
							height: 8px;
							width: 8px;
							position: absolute;
							border-radius: 50%;
							border: 1px solid $color_dark;
							top: 18px;
							left: -17px;
						}
						.connect {
							position: absolute;
							width: 10px;
							height: 2px;
							background-color: $color_dark;
							top: 21px;
							left: -10px;
						}

						.chonnam,
						.kaist,
						.other_courses {
							@include flex($direc: column, $align: flex-start, $gap: auto);
							padding: 5px 10px 10px;
							width: 100%;
							border: 2px solid $color_dark;
							position: relative;

							.year_major {
								@include flex($jus: left);
								font-size: 0.8rem;

								@include media_6 {
									font-size: 12px;
									gap: 10px;
									margin-top: 4px;
								}

								.major {
									font-weight: 600;
									font-size: 0.95rem;

									@include media_6 {
										font-size: 14px;
									}
								}
							}

							.univ_name {
								@include transition(0.2s);
								cursor: pointer;
								position: relative;
								color: $color_dark;
								font-weight: bold;

								&::after {
									content: "";
									position: absolute;
									width: 0;
									height: 2px;
									bottom: 0;
									left: 0;
									background-color: $color_dark;
									transform-origin: 0 100%;
									@include transition(0.3s);

									@include media_6 {
										display: none;
									}
								}

								&:hover::after {
									width: 100%;
								}
								a {
									text-decoration: none;
									color: $color_dark;
									font-size: 1.2rem;
									@include media_6 {
										font-size: 1.1rem;
									}
								}

								h2 {
									margin: 0;
									padding: 0;
									@include media_6 {
										line-height: 1rem;
									}
								}

								a.kaist_abr {
									display: none;
								}
							}
						}

						.courses {
							position: relative;
							ul {
								padding-left: 1rem;
								position: relative;
								.course_code {
									width: 5rem;
								}

								@include media_6 {
									font-size: 14px;
								}
							}

							.title {
								margin-top: 1rem;
								font-size: 1.1rem;
								font-weight: 600;
								text-decoration: none;

								@include media_6 {
									font-size: 0.9rem;
								}
							}
						}

						.other_courses {
							.l_circle {
								top: 12px;
							}
							.connect {
								top: 15px;
							}
							.title {
								font-size: 1.1rem;
								font-weight: 600;

								.click {
									font-weight: lighter;
									font-size: small;
									color: $color_hover;
								}
							}

							.courses {
								@include flex($direc: column, $align: left);
								.course {
									a.course_name {
										text-decoration: none;
										color: $color_dark;
										font-weight: 600;
										cursor: pointer;
										position: relative;
										&::after {
											content: "";
											position: absolute;
											width: 0;
											height: 2px;
											bottom: 0;
											left: 0;
											background-color: $color_dark;
											transform-origin: 0 100%;
											@include transition(0.3s);

											@include media_6 {
												display: none;
											}
										}

										&:hover::after {
											width: 100%;
										}
									}
									.details {
										color: $color_gray_text;
										@include flex($jus: left);

										@include media_6 {
											gap: 10px;
										}
										p {
											font-weight: 500;
											margin-bottom: 10px;
											@include media_6 {
												font-size: 13px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.achievements {
				width: 100%;
				.data_container {
					.data {
						border-left: 2px solid $color_dark;
						padding-left: 10px;
						position: relative;
						@include flex($direc: column, $align: flex-start);
						.achievement {
							width: 100%;
							padding: 5px 10px 10px;
							border: 2px solid $color_dark;
							position: relative;
							.l_circle {
								background-color: #fff;
								height: 8px;
								width: 8px;
								position: absolute;
								border-radius: 50%;
								border: 1px solid $color_dark;
								top: 25px;
								left: -17px;
							}
							.connect {
								position: absolute;
								width: 10px;
								height: 2px;
								background-color: $color_dark;
								top: 27.5px;
								left: -10px;
							}

							.title {
								margin-bottom: 0;
								color: $color_dark;
								font-size: 1.2rem;
								font-weight: 500;

								@include media_6 {
									font-size: 1rem;
								}

								.among {
									font-size: 1.1rem;
									color: $color_dark;

									@include media_6 {
										font-size: 14px;
									}
								}
							}
							.details {
								@include flex($jus: left);

								@include media_6 {
									gap: 10px;
								}
								.date {
									font-size: 0.8rem;

									@include media_6 {
										font-size: 12px;
									}
								}
								.place {
									font-size: 0.9rem;
									font-weight: 600;

									@include media_6 {
										font-size: 13px;
									}
								}
							}
						}
					}
				}
			}

			.work {
				.l_circle {
					background-color: #fff;
					height: 8px;
					width: 8px;
					position: absolute;
					border-radius: 50%;
					border: 1px solid $color_dark;
					top: 18px;
					left: -17px;
				}
				.connect {
					position: absolute;
					width: 10px;
					height: 2px;
					background-color: $color_dark;
					top: 21px;
					left: -10px;
				}
				.data {
					padding-left: 10px;
					border-left: 2px solid $color_dark;
					@include flex($direc: column, $align: left);
					.ta {
						border: 2px solid $color_dark;
						padding: 5px 10px 10px;
						position: relative;
						.title {
							margin-bottom: 0;
							color: $color_dark;
							font-size: 1.2rem;
							font-weight: 500;

							@include media_6 {
								font-size: 16px;
							}
						}

						.desc {
							.years {
								font-size: 0.8rem;
								color: $color_text_secondary;
								margin-bottom: 10px;

								@include media_6 {
									font-size: 0.7rem;
								}
								span {
									color: $color_dark;
									font-size: 0.9rem;
									font-weight: 600;

									@include media_6 {
										font-size: 0.8rem;
									}
								}
							}

							.details {
								color: $color_text_secondary;

								@include media_6 {
									font-size: 14px;
								}
							}
						}

						ul {
							padding-left: 1rem;
						}
					}
				}
			}
		}
		.title {
			font-size: 1rem;
			font-family: "Ubuntu";
			text-align: left;
			color: $color_dark;
			margin-bottom: 1rem;

			@include media_6 {
				font-size: 0.9rem;
			}
		}

		.prog_lan {
			@include flex($direc: column, $align: left);
			flex-basis: 48%;

			.l_circle {
				background-color: #fff;
				height: 8px;
				width: 8px;
				position: absolute;
				border-radius: 50%;
				border: 1px solid $color_dark;
				top: 18px;
				left: -17px;
			}
			.connect {
				position: absolute;
				width: 10px;
				height: 2px;
				background-color: $color_dark;
				top: 21px;
				left: -10px;
			}

			.programming {
				width: 100%;
				.about_msg {
					.languages {
						position: relative;
						padding-left: 10px;
						border-left: 2px solid $color_dark;

						.language {
							padding: 5px 10px 10px;
							width: 100%;
							border: 2px solid $color_dark;
							margin-bottom: 1rem;
							position: relative;

							ul {
								padding-left: 1rem;
								columns: 2;
								list-style: none;

								@include media_6 {
									columns: 1;
								}
							}
							.others h3 {
								margin-bottom: 0;
							}

							h3 {
								font-family: "Ubuntu";
								font-size: 1.2rem;
								color: $color_dark;
								margin-bottom: 5px;

								@include media_6 {
									font-size: 1rem;
								}
							}

							.degree_span {
								font-size: 0.9rem;
								color: $color_hover;
								line-height: 2rem;
							}

							.l_circle {
								background-color: #fff;
								height: 8px;
								width: 8px;
								position: absolute;
								border-radius: 50%;
								border: 1px solid $color_dark;
								left: -17px;
								top: 14px;
							}

							.connect {
								position: absolute;
								width: 10px;
								height: 2px;
								background-color: $color_dark;
								top: 17px;
								left: -10px;
							}

							.other_parts {
								.others_title {
									font-weight: bold;
									margin: 1rem 0 0 1rem;

									@include media_6 {
										font-size: 1rem;
									}
								}
								ul {
									columns: 3;
									list-style: disc;
									margin-left: 1rem;

									@include media_6 {
										font-size: 14px;
										columns: 1;
									}
								}
							}

							.desc {
								color: $color_gray_text;

								@include media_6 {
									font-size: 14px;
								}
							}

							.libraries {
								margin-top: 1rem;

								.skill_measure {
									position: relative;

									.library {
										@include flex($align: baseline);
										.degree {
											font-size: 0.8rem;
											color: $color_hover;
											height: min-content;
										}

										@include media_6 {
											gap: auto;
										}

										.library_logo {
											width: 4rem;
											height: 2rem;
											margin: 10px 0 0 0;
											object-fit: contain;
											cursor: pointer;
											-webkit-user-drag: none;
										}

										.library_logo.html {
											height: 3rem;
											padding-bottom: 5px;
											// margin-bottom: 3px;
											width: auto;
										}
										.library_logo.css {
											height: 2.8rem;
											padding-bottom: 5px;
											width: auto;
											margin-bottom: 8px;
										}

										.library_logo.router {
											margin-bottom: 5px;
										}
										.library_logo.sql {
											height: 2.5rem;
											margin-bottom: 3px;
											margin-top: 0px;
										}
									}

									.progress_bar_default {
										height: 7px;
										width: 100%;
										background-color: $color_lightgray;
									}

									.progress_bar {
										position: absolute;
										background-color: $color_dark;
										height: 7px;
										// border-radius: 10px;
										bottom: 0;
										width: 0;
										cursor: pointer;
									}

									.progress_bar.node {
										width: 60%;
									}

									.progress_bar.react {
										width: 90%;
									}

									.progress_bar.express {
										width: 90%;
									}

									.progress_bar.router {
										width: 60%;
									}

									.progress_bar.redux {
										width: 40%;
									}

									.progress_bar.mongoose {
										width: 90%;
									}

									.progress_bar.pytorch {
										width: 50%;
									}
									.progress_bar.pygame {
										width: 60%;
									}
									.progress_bar.numpy {
										width: 70%;
									}
									.progress_bar.pandas {
										width: 70%;
									}
									.progress_bar.sql {
										width: 80%;
									}
									.progress_bar.mongo {
										width: 60%;
									}
								}
							}

							.lan {
								position: relative;

								.line {
									position: absolute;
									width: 87%;
									height: 2px;
									background-color: $color_dark;
									right: 0;
									top: 13px;
								}
							}
						}
						.language.script {
							height: auto;
							ul {
								columns: 3;
							}
						}

						.language.ml {
							ul {
								list-style: disc;
							}
						}
					}
				}
			}

			.languages {
				.title {
					font-size: 1rem;
					font-family: "Ubuntu";
					text-align: left;
					color: $color_dark;
					margin-bottom: 1rem;

					@include media_6 {
						font-size: 0.9rem;
					}
				}
				.data {
					padding-left: 10px;
					border-left: 2px solid $color_dark;

					.border {
						position: relative;
						@include flex($direc: column, $align: left);
						border: 2px solid $color_dark;
						width: 100%;
						padding: 5px 20px 10px;
						.eng_uz {
							@include flex($align: left, $direc: column);
						}
						.language {
							position: relative;
							.language_name {
								font-size: 1rem;
								font-weight: 600;

								@include media_6 {
									font-size: 0.9rem;
								}
							}

							ul {
								padding-left: 1rem;
							}

							.level {
								@include media_6 {
									font-size: 0.9rem;
								}
							}
						}

						.korean {
							.level {
								margin-bottom: 5px;
							}

							.desc {
								color: $color_text_secondary;

								@include media_6 {
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}
