@import "../general/general";

.navbar__container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	z-index: 100;
	// height: 10vh;

	.nav_main {
		@include flex;
		padding: 1rem 0;
		width: 72rem;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;

		@include media_1 {
			width: 59rem;
		}

		@include media_2 {
			width: 50rem;
		}

		@include media_3 {
			width: 45rem;
		}

		@include media_4 {
			width: 37rem;
		}

		@include media_5 {
			width: 90%;
		}

		.nav_logo {
			position: relative;
			z-index: 100;
			.m_icon {
				width: 38px;
				height: 38px;
				object-fit: cover;
				-webkit-user-drag: none;
				user-select: none;
				cursor: pointer;
			}
		}

		// .nav_items {
		// 	@include flex;

		.nav_links {
			@include flex($gap: 2.5rem);
			@include media_2 {
				gap: 1.8rem;
			}

			@include media_4 {
				display: none;
			}
			a {
				color: $color_dark;
				text-decoration: none;
				font-size: 1.2rem;
				@include transition(0.2s);
				cursor: pointer;

				&:hover {
					color: $color_hover;
					transform: scale(1.3);
				}

				@include media_2 {
					font-size: 1rem;
				}
			}
		}

		.nav_icons {
			@include flex;
			.icon {
				font-size: 1.5rem;
				border-radius: 5px;
				transition: all 0.2s linear;
				cursor: pointer;
				color: $color_dark;

				&:hover {
					transform: scale(1.5);
				}
			}

			.linkedin {
				&:hover {
					color: #0077b5;
				}

				// margin-left: 20rem;
			}

			.facebook {
				&:hover {
					color: #3b5998;
				}
			}

			.github {
				&:hover {
					color: hsl(274, 78%, 29%);
				}
			}

			.telegram {
				&:hover {
					color: #0088cc;
				}
			}
		}
		// }
		.menu-btn {
			display: none;
			position: relative;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 15px;
			cursor: pointer;
			@include media_4 {
				display: flex;
			}

			.burger {
				width: 20px;
				height: 2.5px;
				background: $color_dark;
				border-radius: 2rem;
				box-shadow: 0 2px 5px $color_lightgray;
				@include transition(0.3s);
				&::before,
				&::after {
					content: "";
					position: absolute;
					width: 25px;
					height: 2.5px;
					background: $color_dark;
					border-radius: 5rem;
					box-shadow: 0 2px 5px $color_lightgray;
					@include transition(0.3s);
				}

				&::before {
					transform: translateY(8px);
				}

				&::after {
					transform: translateY(-8px);
				}
			}
		}
		.open {
			.burger {
				background-color: transparent;
				box-shadow: none;
				@include transition(0.3s);

				&::before {
					transform: rotate(-225deg);
				}

				&::after {
					transform: rotate(225deg);
				}
			}
		}
	}
}
.drop_menu {
	position: absolute;
	@include flex($jus: center, $direc: column, $gap: 3rem);
	padding: 5rem 1rem 3rem;
	height: 100vh;
	width: 100vw;

	transform: scale(0);
	width: 100%;
	z-index: 11;
	background-color: $color_white;
	@include transition(0.5s);
	transform-origin: 50% 50%;

	a {
		color: $color_dark;
		text-decoration: none;
		@include transition(0.2s);
		font-size: 1.2rem;

		&:hover {
			color: $color_hover;
			transform: scale(1.2) translate(10px, 0);
		}
	}
}

.stick {
	position: fixed;
	background-color: $color_white;
	box-shadow: 0 0 5px $color_lightgray;
}

.down {
	position: fixed;
	justify-content: flex-start;
	transform: scale(1);
	padding: 10rem;
	transform-origin: 50% 50%;
	@include transition(0.2s, $type: linear);
}

.nav.stick {
	background-color: white;
}
