* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  overflow: hidden;
}

.contact__container {
  position: relative;
  height: 89vh;
  width: 72rem;
  margin: auto;
  padding-top: 6rem;
}

@media (max-width: 1200px) {
  .contact__container {
    width: 60rem;
  }
}

@media (max-width: 992px) {
  .contact__container {
    width: 50rem;
  }
}

@media (max-width: 870px) {
  .contact__container {
    width: 45rem;
  }
}

@media (max-width: 768px) {
  .contact__container {
    width: 38rem;
    height: auto;
  }
}

@media (max-width: 655px) {
  .contact__container {
    width: 90%;
  }
}

.contact__container .title {
  width: 100%;
  text-align: left;
  font-family: "Lobster";
}

.contact__container .title .back {
  color: #f4f4f4;
  font-size: 6rem;
  padding-left: 2rem;
}

@media (max-width: 576px) {
  .contact__container .title .back {
    font-size: 4rem;
  }
}

.contact__container .title .title_up {
  position: absolute;
  top: 9rem;
}

@media (max-width: 576px) {
  .contact__container .title .title_up {
    top: 8rem;
  }
}

@media (max-width: 375px) {
  .contact__container .title .title_up {
    font-size: 13px;
    left: 2rem;
  }
}

.contact__container .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 768px) {
  .contact__container .data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3rem;
  }
}

.contact__container .data .my_info {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

@media (max-width: 992px) {
  .contact__container .data .my_info {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .contact__container .data .my_info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
}

.contact__container .data .my_info .me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Ubuntu";
}

.contact__container .data .my_info .me img {
  height: 8rem;
  width: 8rem;
  -o-object-position: left;
     object-position: left;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact__container .data .my_info .me .name_job .name {
  font-weight: bolder;
  margin-bottom: 10px;
}

.contact__container .data .my_info .me .name_job hr {
  border: 0;
  width: 100%;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.contact__container .data .my_info .address_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__container .data .my_info .address_contact .email,
.contact__container .data .my_info .address_contact .tel,
.contact__container .data .my_info .address_contact .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

.contact__container .data .my_info .address_contact .email .icon,
.contact__container .data .my_info .address_contact .tel .icon,
.contact__container .data .my_info .address_contact .address .icon {
  -ms-flex-preferred-size: 45px;
      flex-basis: 45px;
  padding: 10px;
  width: 38px !important;
  height: 38px;
  color: white;
  background-color: #1e2124;
  border-radius: 50%;
  border: 1px solid #1e2124;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact__container .data .my_info .address_contact .email .icon:hover,
.contact__container .data .my_info .address_contact .tel .icon:hover,
.contact__container .data .my_info .address_contact .address .icon:hover {
  color: black;
  background-color: white;
}

.contact__container .data .contact_message {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .contact__container .data .contact_message {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    margin-top: 2rem;
  }
}

.contact__container .data .contact_message input {
  outline: none;
  border: none;
  border-bottom: 1px solid #ededed;
  font-size: 1rem;
  height: 2rem;
  font-family: "Poppins";
}

.contact__container .data .contact_message input:focus {
  border-color: black;
}

@media (max-width: 375px) {
  .contact__container .data .contact_message input {
    font-size: 14px;
  }
}

.contact__container .data .contact_message textarea {
  font-family: "Poppins";
  font-size: 1rem;
  border: none;
  outline: none;
  margin-top: 2rem;
  border-bottom: 1px solid #ededed;
  resize: none;
}

.contact__container .data .contact_message textarea:focus {
  border-color: black;
}

@media (max-width: 375px) {
  .contact__container .data .contact_message textarea {
    font-size: 14px;
  }
}

.contact__container .data .contact_message button {
  width: 6rem;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #1e2124;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact__container .data .contact_message button:hover {
  color: #fff;
  background-color: #1e2124;
}
/*# sourceMappingURL=contact.css.map */