* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  overflow: hidden;
}

.home__container {
  height: 89vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  width: 72rem;
  margin: auto;
}

@media (max-width: 1200px) {
  .home__container {
    width: 60rem;
  }
}

@media (max-width: 992px) {
  .home__container {
    width: 50rem;
  }
}

@media (max-width: 870px) {
  .home__container {
    width: 45rem;
  }
}

@media (max-width: 768px) {
  .home__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 38rem;
  }
}

@media (max-width: 655px) {
  .home__container {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .home__container {
    gap: 2rem;
  }
}

.home__container .back_pattern {
  position: absolute;
  z-index: -1;
}

.home__container .circle {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  top: -8rem;
  left: 36rem;
  background-color: #f4f4f4;
}

@media (max-width: 870px) {
  .home__container .circle {
    width: 17rem;
    height: 18rem;
    left: 27rem;
  }
}

@media (max-width: 768px) {
  .home__container .circle {
    width: 17rem;
    height: 17rem;
    left: -2rem;
  }
}

@media (max-width: 655px) {
  .home__container .circle {
    left: -2rem;
    width: 40%;
    height: 40%;
  }
}

@media (max-width: 576px) {
  .home__container .circle {
    width: 16rem;
    height: 16rem;
    left: -2rem;
  }
}

.home__container .blob1 {
  width: 40rem;
  height: 40rem;
  right: 3rem;
  top: 20%;
}

.home__container .banner {
  z-index: -1;
  width: 26rem;
  height: 25rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 4rem 0 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1200px) {
  .home__container .banner {
    width: 22rem;
    height: 20rem;
  }
}

@media (max-width: 992px) {
  .home__container .banner {
    width: 20rem;
    margin-top: 6rem;
  }
}

@media (max-width: 768px) {
  .home__container .banner {
    margin-left: 12rem;
    margin-top: -2rem;
  }
}

@media (max-width: 655px) {
  .home__container .banner {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 576px) {
  .home__container .banner {
    margin-left: 0;
    margin-top: -4rem;
    width: 17rem;
    height: 17rem;
  }
}

@media (max-width: 375px) {
  .home__container .banner {
    margin-left: 4rem;
  }
}

.home__container .intro {
  position: relative;
  padding-left: 1rem;
  color: #1e2124;
  max-width: 50%;
  margin-top: 5rem;
}

@media (max-width: 768px) {
  .home__container .intro {
    max-width: 36rem;
    margin-top: 0;
    padding-left: 0;
  }
}

@media (max-width: 655px) {
  .home__container .intro {
    max-width: 95%;
  }
}

.home__container .intro .hello {
  font-family: "Lobster", sans-serif;
  font-size: 10rem;
  color: whitesmoke;
  top: -8rem;
  left: 6rem;
}

@media (max-width: 1200px) {
  .home__container .intro .hello {
    font-size: 8rem;
    top: -6rem;
    left: 4rem;
  }
}

@media (max-width: 992px) {
  .home__container .intro .hello {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .home__container .intro .hello {
    left: -2.4rem;
    top: -8rem;
  }
}

@media (max-width: 655px) {
  .home__container .intro .hello {
    top: -7rem;
    left: -2.4rem;
  }
}

@media (max-width: 576px) {
  .home__container .intro .hello {
    left: auto;
    right: 0;
    top: -5rem;
  }
}

.home__container .intro .title {
  font-size: 400%;
  font-family: "Ubuntu";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1200px) {
  .home__container .intro .title {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .home__container .intro .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .home__container .intro .title {
    line-height: 2rem;
  }
}

@media (max-width: 655px) {
  .home__container .intro .title {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .home__container .intro .title {
    font-size: 1.5rem;
  }
}

.home__container .intro .me {
  text-align: right;
}

@media (max-width: 768px) {
  .home__container .intro .me {
    text-align: left;
    padding-left: 3rem;
  }
}

@media (max-width: 655px) {
  .home__container .intro .me {
    padding-left: 5%;
  }
}

.home__container .intro .who {
  font-size: 1.3rem;
  text-align: right;
  height: 2rem;
}

@media (max-width: 1200px) {
  .home__container .intro .who {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .home__container .intro .who {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .home__container .intro .who {
    font-size: 1.1rem;
    padding-right: 2rem;
  }
}

@media (max-width: 655px) {
  .home__container .intro .who {
    font-size: 1rem;
    padding-left: 8%;
    height: 1.1rem;
  }
}

@media (max-width: 576px) {
  .home__container .intro .who {
    font-size: 0.9rem;
    padding-right: 0;
  }
}

@media (max-width: 375px) {
  .home__container .intro .who {
    font-size: 0.7rem;
  }
}

.home__container .intro .bio {
  max-width: 92%;
  margin: 2rem auto 0 auto;
  color: gray;
}

.home__container .intro .bio::-moz-selection {
  background: #1e2124;
}

.home__container .intro .bio::selection {
  background: #1e2124;
}

@media (max-width: 1200px) {
  .home__container .intro .bio {
    max-width: 94%;
  }
}

@media (max-width: 992px) {
  .home__container .intro .bio {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
}

@media (max-width: 870px) {
  .home__container .intro .bio {
    max-width: 99%;
  }
}

@media (max-width: 768px) {
  .home__container .intro .bio {
    max-width: 98%;
  }
}

@media (max-width: 576px) {
  .home__container .intro .bio {
    max-width: 100%;
  }
}

.home__container .intro .download {
  position: absolute;
  background-color: #fff;
  color: #2a4e50;
  width: 12rem;
  padding: 10px 0;
  margin: 1rem 1rem;
  font-size: 1.1rem;
  left: 20px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 8px lightgray;
          box-shadow: 2px 2px 8px lightgray;
  outline: none;
  border: none;
  border-left: 2px solid #1e2124;
  border-right: 2px solid #1e2124;
}

@media (max-width: 1200px) {
  .home__container .intro .download {
    margin: 1rem 10px;
  }
}

@media (max-width: 870px) {
  .home__container .intro .download {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .home__container .intro .download {
    margin-left: 0;
    left: 0;
  }
}

.home__container .intro .download::after, .home__container .intro .download::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1e2124;
}

.home__container .intro .download::after {
  left: 0;
  bottom: 0;
}

.home__container .intro .download::before {
  right: 0;
  top: 0;
}

.home__container .intro .download::after {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home__container .intro .download:hover {
  color: #1e2124;
}

.home__container .intro .download:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.home__container .intro .download::before {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home__container .intro .download:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
/*# sourceMappingURL=heom.css.map */