@import "../general/general";
@import "./media/media.scss";

.home__container {
	height: 89vh;
	@include flex;
	align-items: center;
	width: 72rem;
	margin: auto;

	// border-bottom: 1px solid #4c5a6c;

	@include media_1200 {
		width: 60rem;
	}

	@include media_2 {
		width: 50rem;
	}

	@include media_3 {
		width: 45rem;
	}

	@include media_4 {
		flex-direction: column-reverse;
		gap: 0;
		justify-content: center;
		// gap: 4rem;
		// height: 88vh;
		width: 38rem;
	}

	@include media_5 {
		width: 90%;
	}

	@include media_6 {
		// height: auto;
		// gap: 4rem;
		gap: 2rem;
	}

	.back_pattern {
		position: absolute;
		z-index: -1;
	}

	.circle {
		border-radius: 50%;
		width: 20rem;
		height: 20rem;
		top: -8rem;
		left: 36rem;
		background-color: $color_back;

		@include media_3 {
			width: 17rem;
			height: 18rem;
			left: 27rem;
		}

		@include media_4 {
			width: 17rem;
			height: 17rem;
			left: -2rem;
		}

		@include media_5 {
			left: -2rem;
			width: 40%;
			height: 40%;
		}

		@include media_6 {
			width: 16rem;
			height: 16rem;
			left: -2rem;
		}
	}

	.blob1 {
		width: 40rem;
		height: 40rem;
		right: 3rem;
		top: 20%;
	}

	.banner {
		z-index: -1;
		width: 26rem;
		height: 25rem;
		object-fit: contain;
		margin: 4rem 0 0 0;
		user-select: none;

		@include media_1200 {
			width: 22rem;
			height: 20rem;
		}

		@include media_2 {
			width: 20rem;
			margin-top: 6rem;
		}

		@include media_4 {
			// margin-top: 15rem;
			margin-left: 12rem;
			margin-top: -2rem;
		}

		@include media_5 {
			width: 50%;
			height: 50%;
		}

		@include media_6 {
			// margin-top: 2rem;
			margin-left: 0;
			margin-top: -4rem;
			width: 17rem;
			height: 17rem;
		}

		@include media_7 {
			margin-left: 4rem;
		}
	}

	.intro {
		position: relative;
		padding-left: 1rem;
		color: $color_dark;
		max-width: 50%;
		margin-top: 5rem;

		@include media_4 {
			max-width: 36rem;
			margin-top: 0;
			padding-left: 0;
		}

		@include media_5 {
			max-width: 95%;
		}

		.hello {
			font-family: "Lobster", sans-serif;
			font-size: 10rem;
			color: hsl(0, 0%, 96%);
			top: -8rem;
			left: 6rem;

			@include media_1200 {
				font-size: 8rem;
				top: -6rem;
				left: 4rem;
			}

			@include media_2 {
				font-size: 7rem;
			}

			@include media_4 {
				left: -2.4rem;
				top: -8rem;
			}

			@include media_5 {
				// font-size: 6rem;
				top: -7rem;
				left: -2.4rem;
			}

			@include media_6 {
				// left: 3rem;
				left: auto;
				right: 0;
				top: -5rem;
			}
		}

		.title {
			font-size: 400%;
			font-family: "Ubuntu";
			user-select: none;

			@include media_1200 {
				font-size: 3rem;
			}

			@include media_2 {
				font-size: 2.5rem;
			}

			@include media_4 {
				line-height: 2rem;
			}

			@include media_5 {
				font-size: 2rem;
			}

			@media (max-width: 350px) {
				font-size: 1.5rem;
			}
		}

		.me {
			text-align: right;
			@include media_4 {
				text-align: left;
				padding-left: 3rem;
			}

			@include media_5 {
				padding-left: 5%;
			}
		}

		.who {
			font-size: 1.3rem;
			text-align: right;
			height: 2rem;

			@include media_1200 {
				font-size: 1.1rem;
			}
			@include media_2 {
				font-size: 1rem;
			}

			@include media_4 {
				font-size: 1.1rem;
				padding-right: 2rem;
			}

			@include media_5 {
				font-size: 1rem;
				padding-left: 8%;
				height: 1.1rem;
			}

			@include media_6 {
				// height: 1rem;
				font-size: 0.9rem;
				padding-right: 0;
			}

			@include media_7 {
				font-size: 0.7rem;
			}
		}

		// .who.ml {
		// 	font-size: 1.3rem;

		// 	@include media_1200 {
		// 		font-size: 1rem;
		// 	}

		// 	@include media_2 {
		// 		font-size: 0.8rem;
		// 	}

		// 	@include media_5 {
		// 		font-size: 0.7rem;
		// 	}
		// 	@include media_7 {
		// 		font-size: 0.6rem;
		// 	}
		// }

		.bio {
			max-width: 92%;
			margin: 2rem auto 0 auto;
			color: $color_gray_text;

			&::selection {
				background: $color_dark;
			}

			@include media_1200 {
				max-width: 94%;
			}

			@include media_2 {
				font-size: 0.9rem;
				margin-top: 1rem;
			}

			@include media_3 {
				max-width: 99%;
			}

			@include media_4 {
				max-width: 98%;
			}

			@include media_6 {
				max-width: 100%;
			}
		}

		.download {
			position: absolute;
			background-color: $color_white;
			color: $color_blue;
			width: 12rem;
			padding: 10px 0;
			margin: 1rem 1rem;
			font-size: 1.1rem;
			left: 20px;
			cursor: pointer;
			box-shadow: 2px 2px 8px lightgray;
			outline: none;
			border: none;
			border-left: 2px solid $color_dark;
			border-right: 2px solid $color_dark;

			@include media_1 {
				margin: 1rem 10px;
			}

			@include media_3 {
				margin-left: 0;
			}

			@include media_4 {
				margin-left: 0;
				left: 0;
			}

			&::after,
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: $color_dark;
			}

			&::after {
				left: 0;
				bottom: 0;
			}

			&::before {
				right: 0;
				top: 0;
			}

			&::after {
				transform: scale(0, 1);
				transform-origin: 0% 100%;
				@include transition(0.3s);
			}

			&:hover {
				color: $color_dark;
			}

			&:hover::after {
				transform: scale(1, 1);
			}

			&::before {
				transform: scale(0, 1);
				transform-origin: 100% 0%;
				@include transition(0.3s);
			}

			&:hover::before {
				transform: scale(1, 1);
			}
		}
	}
}
