@import "../general/general";

.footer__container {
	background-color: $color_dark;
	width: 100%;
	height: 11vh;
	text-align: center;
	color: $color_white;
	padding: 1rem;
	position: relative;
	z-index: 100;

	@include media_6 {
		font-size: 80%;
	}
}
