* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  overflow: hidden;
}

.resume__container {
  width: 78rem;
  position: relative;
  margin: auto;
  overflow: hidden;
  margin: 8rem auto 5rem;
  padding-bottom: 3rem;
  border: 2px solid #1e2124;
  position: relative;
}

@media (max-width: 1300px) {
  .resume__container {
    width: 72rem;
  }
}

@media (max-width: 1200px) {
  .resume__container {
    width: 60rem;
  }
}

@media (max-width: 992px) {
  .resume__container {
    width: 50rem;
  }
}

@media (max-width: 870px) {
  .resume__container {
    width: 45rem;
  }
}

@media (max-width: 768px) {
  .resume__container {
    width: 38rem;
  }
}

@media (max-width: 655px) {
  .resume__container {
    width: 90%;
  }
}

.resume__container hr {
  position: absolute;
  top: 10rem;
  border: 0;
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

@media (max-width: 768px) {
  .resume__container hr {
    top: 8rem;
  }
}

@media (max-width: 576px) {
  .resume__container hr {
    top: 6rem;
  }
}

@media (max-width: 375px) {
  .resume__container hr {
    top: 5rem;
  }
}

.resume__container .title_up {
  position: absolute;
  font-family: "Lobster";
  width: 100%;
  font-size: 2rem;
  margin: auto;
  left: -3rem;
  top: 3rem;
  text-align: center;
}

@media (max-width: 992px) {
  .resume__container .title_up {
    left: 0;
  }
}

@media (max-width: 768px) {
  .resume__container .title_up {
    top: 2.5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .resume__container .title_up {
    top: 1.7rem;
  }
}

@media (max-width: 576px) {
  .resume__container .title_up {
    font-size: 1.2rem;
    top: 1.3rem;
  }
}

.resume__container .backscript {
  position: absolute;
  color: #f4f4f4;
  font-size: 4rem;
  font-family: "Lobster";
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  z-index: -1;
  margin: auto;
  padding-left: 3rem;
  left: -5rem;
  text-align: center;
  top: 0rem;
}

@media (max-width: 992px) {
  .resume__container .backscript {
    left: -2rem;
  }
}

@media (max-width: 768px) {
  .resume__container .backscript {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .resume__container .backscript {
    left: -2rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 375px) {
  .resume__container .backscript {
    font-size: 2rem;
  }
}

.resume__container .backscript h1 {
  margin: 0;
  padding: 0;
}

.resume__container .resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 95%;
  margin: auto;
  margin-top: 12rem;
}

@media (max-width: 992px) {
  .resume__container .resume {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .resume__container .resume {
    margin-top: 10rem;
  }
}

@media (max-width: 576px) {
  .resume__container .resume {
    margin-top: 9rem;
  }
}

@media (max-width: 375px) {
  .resume__container .resume {
    margin-top: 8rem;
  }
}

.resume__container .resume .edu_ach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.resume__container .resume .edu_ach .row_me {
  width: 100%;
}

.resume__container .resume .edu_ach .row_me .education .data {
  border-left: 2px solid #1e2124;
  padding-left: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.resume__container .resume .edu_ach .row_me .education .data .l_circle {
  background-color: #fff;
  height: 8px;
  width: 8px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #1e2124;
  top: 18px;
  left: -17px;
}

.resume__container .resume .edu_ach .row_me .education .data .connect {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #1e2124;
  top: 21px;
  left: -10px;
}

.resume__container .resume .edu_ach .row_me .education .data .chonnam,
.resume__container .resume .edu_ach .row_me .education .data .kaist,
.resume__container .resume .edu_ach .row_me .education .data .other_courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px 10px;
  width: 100%;
  border: 2px solid #1e2124;
  position: relative;
}

.resume__container .resume .edu_ach .row_me .education .data .chonnam .year_major,
.resume__container .resume .edu_ach .row_me .education .data .kaist .year_major,
.resume__container .resume .edu_ach .row_me .education .data .other_courses .year_major {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .row_me .education .data .chonnam .year_major,
  .resume__container .resume .edu_ach .row_me .education .data .kaist .year_major,
  .resume__container .resume .edu_ach .row_me .education .data .other_courses .year_major {
    font-size: 12px;
    gap: 10px;
    margin-top: 4px;
  }
}

.resume__container .resume .edu_ach .row_me .education .data .chonnam .year_major .major,
.resume__container .resume .edu_ach .row_me .education .data .kaist .year_major .major,
.resume__container .resume .edu_ach .row_me .education .data .other_courses .year_major .major {
  font-weight: 600;
  font-size: 0.95rem;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .row_me .education .data .chonnam .year_major .major,
  .resume__container .resume .edu_ach .row_me .education .data .kaist .year_major .major,
  .resume__container .resume .edu_ach .row_me .education .data .other_courses .year_major .major {
    font-size: 14px;
  }
}

.resume__container .resume .edu_ach .row_me .education .data .chonnam .univ_name,
.resume__container .resume .edu_ach .row_me .education .data .kaist .univ_name,
.resume__container .resume .edu_ach .row_me .education .data .other_courses .univ_name {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  color: #1e2124;
  font-weight: bold;
}

.resume__container .resume .edu_ach .row_me .education .data .chonnam .univ_name::after,
.resume__container .resume .edu_ach .row_me .education .data .kaist .univ_name::after,
.resume__container .resume .edu_ach .row_me .education .data .other_courses .univ_name::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1e2124;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .row_me .education .data .chonnam .univ_name::after,
  .resume__container .resume .edu_ach .row_me .education .data .kaist .univ_name::after,
  .resume__container .resume .edu_ach .row_me .education .data .other_courses .univ_name::after {
    display: none;
  }
}

.resume__container .resume .edu_ach .row_me .education .data .chonnam .univ_name:hover::after,
.resume__container .resume .edu_ach .row_me .education .data .kaist .univ_name:hover::after,
.resume__container .resume .edu_ach .row_me .education .data .other_courses .univ_name:hover::after {
  width: 100%;
}

.resume__container .resume .edu_ach .row_me .education .data .chonnam .univ_name a,
.resume__container .resume .edu_ach .row_me .education .data .kaist .univ_name a,
.resume__container .resume .edu_ach .row_me .education .data .other_courses .univ_name a {
  text-decoration: none;
  color: #1e2124;
  font-size: 1.2rem;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .row_me .education .data .chonnam .univ_name a,
  .resume__container .resume .edu_ach .row_me .education .data .kaist .univ_name a,
  .resume__container .resume .edu_ach .row_me .education .data .other_courses .univ_name a {
    font-size: 1.1rem;
  }
}

.resume__container .resume .edu_ach .row_me .education .data .chonnam .univ_name h2,
.resume__container .resume .edu_ach .row_me .education .data .kaist .univ_name h2,
.resume__container .resume .edu_ach .row_me .education .data .other_courses .univ_name h2 {
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .row_me .education .data .chonnam .univ_name h2,
  .resume__container .resume .edu_ach .row_me .education .data .kaist .univ_name h2,
  .resume__container .resume .edu_ach .row_me .education .data .other_courses .univ_name h2 {
    line-height: 1rem;
  }
}

.resume__container .resume .edu_ach .row_me .education .data .chonnam .univ_name a.kaist_abr,
.resume__container .resume .edu_ach .row_me .education .data .kaist .univ_name a.kaist_abr,
.resume__container .resume .edu_ach .row_me .education .data .other_courses .univ_name a.kaist_abr {
  display: none;
}

.resume__container .resume .edu_ach .row_me .education .data .courses {
  position: relative;
}

.resume__container .resume .edu_ach .row_me .education .data .courses ul {
  padding-left: 1rem;
  position: relative;
}

.resume__container .resume .edu_ach .row_me .education .data .courses ul .course_code {
  width: 5rem;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .row_me .education .data .courses ul {
    font-size: 14px;
  }
}

.resume__container .resume .edu_ach .row_me .education .data .courses .title {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .row_me .education .data .courses .title {
    font-size: 0.9rem;
  }
}

.resume__container .resume .edu_ach .row_me .education .data .other_courses .l_circle {
  top: 12px;
}

.resume__container .resume .edu_ach .row_me .education .data .other_courses .connect {
  top: 15px;
}

.resume__container .resume .edu_ach .row_me .education .data .other_courses .title {
  font-size: 1.1rem;
  font-weight: 600;
}

.resume__container .resume .edu_ach .row_me .education .data .other_courses .title .click {
  font-weight: lighter;
  font-size: small;
  color: #284b63;
}

.resume__container .resume .edu_ach .row_me .education .data .other_courses .courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume__container .resume .edu_ach .row_me .education .data .other_courses .courses .course a.course_name {
  text-decoration: none;
  color: #1e2124;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.resume__container .resume .edu_ach .row_me .education .data .other_courses .courses .course a.course_name::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1e2124;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .row_me .education .data .other_courses .courses .course a.course_name::after {
    display: none;
  }
}

.resume__container .resume .edu_ach .row_me .education .data .other_courses .courses .course a.course_name:hover::after {
  width: 100%;
}

.resume__container .resume .edu_ach .row_me .education .data .other_courses .courses .course .details {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .row_me .education .data .other_courses .courses .course .details {
    gap: 10px;
  }
}

.resume__container .resume .edu_ach .row_me .education .data .other_courses .courses .course .details p {
  font-weight: 500;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .row_me .education .data .other_courses .courses .course .details p {
    font-size: 13px;
  }
}

.resume__container .resume .edu_ach .achievements {
  width: 100%;
}

.resume__container .resume .edu_ach .achievements .data_container .data {
  border-left: 2px solid #1e2124;
  padding-left: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume__container .resume .edu_ach .achievements .data_container .data .achievement {
  width: 100%;
  padding: 5px 10px 10px;
  border: 2px solid #1e2124;
  position: relative;
}

.resume__container .resume .edu_ach .achievements .data_container .data .achievement .l_circle {
  background-color: #fff;
  height: 8px;
  width: 8px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #1e2124;
  top: 25px;
  left: -17px;
}

.resume__container .resume .edu_ach .achievements .data_container .data .achievement .connect {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #1e2124;
  top: 27.5px;
  left: -10px;
}

.resume__container .resume .edu_ach .achievements .data_container .data .achievement .title {
  margin-bottom: 0;
  color: #1e2124;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .achievements .data_container .data .achievement .title {
    font-size: 1rem;
  }
}

.resume__container .resume .edu_ach .achievements .data_container .data .achievement .title .among {
  font-size: 1.1rem;
  color: #1e2124;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .achievements .data_container .data .achievement .title .among {
    font-size: 14px;
  }
}

.resume__container .resume .edu_ach .achievements .data_container .data .achievement .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .achievements .data_container .data .achievement .details {
    gap: 10px;
  }
}

.resume__container .resume .edu_ach .achievements .data_container .data .achievement .details .date {
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .achievements .data_container .data .achievement .details .date {
    font-size: 12px;
  }
}

.resume__container .resume .edu_ach .achievements .data_container .data .achievement .details .place {
  font-size: 0.9rem;
  font-weight: 600;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .achievements .data_container .data .achievement .details .place {
    font-size: 13px;
  }
}

.resume__container .resume .edu_ach .work .l_circle {
  background-color: #fff;
  height: 8px;
  width: 8px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #1e2124;
  top: 18px;
  left: -17px;
}

.resume__container .resume .edu_ach .work .connect {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #1e2124;
  top: 21px;
  left: -10px;
}

.resume__container .resume .edu_ach .work .data {
  padding-left: 10px;
  border-left: 2px solid #1e2124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume__container .resume .edu_ach .work .data .ta {
  border: 2px solid #1e2124;
  padding: 5px 10px 10px;
  position: relative;
}

.resume__container .resume .edu_ach .work .data .ta .title {
  margin-bottom: 0;
  color: #1e2124;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .work .data .ta .title {
    font-size: 16px;
  }
}

.resume__container .resume .edu_ach .work .data .ta .desc .years {
  font-size: 0.8rem;
  color: #4d4d4d;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .work .data .ta .desc .years {
    font-size: 0.7rem;
  }
}

.resume__container .resume .edu_ach .work .data .ta .desc .years span {
  color: #1e2124;
  font-size: 0.9rem;
  font-weight: 600;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .work .data .ta .desc .years span {
    font-size: 0.8rem;
  }
}

.resume__container .resume .edu_ach .work .data .ta .desc .details {
  color: #4d4d4d;
}

@media (max-width: 576px) {
  .resume__container .resume .edu_ach .work .data .ta .desc .details {
    font-size: 14px;
  }
}

.resume__container .resume .edu_ach .work .data .ta ul {
  padding-left: 1rem;
}

.resume__container .resume .title {
  font-size: 1rem;
  font-family: "Ubuntu";
  text-align: left;
  color: #1e2124;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .resume__container .resume .title {
    font-size: 0.9rem;
  }
}

.resume__container .resume .prog_lan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.resume__container .resume .prog_lan .l_circle {
  background-color: #fff;
  height: 8px;
  width: 8px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #1e2124;
  top: 18px;
  left: -17px;
}

.resume__container .resume .prog_lan .connect {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #1e2124;
  top: 21px;
  left: -10px;
}

.resume__container .resume .prog_lan .programming {
  width: 100%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages {
  position: relative;
  padding-left: 10px;
  border-left: 2px solid #1e2124;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language {
  padding: 5px 10px 10px;
  width: 100%;
  border: 2px solid #1e2124;
  margin-bottom: 1rem;
  position: relative;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language ul {
  padding-left: 1rem;
  -webkit-columns: 2;
          columns: 2;
  list-style: none;
}

@media (max-width: 576px) {
  .resume__container .resume .prog_lan .programming .about_msg .languages .language ul {
    -webkit-columns: 1;
            columns: 1;
  }
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .others h3 {
  margin-bottom: 0;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language h3 {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  color: #1e2124;
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  .resume__container .resume .prog_lan .programming .about_msg .languages .language h3 {
    font-size: 1rem;
  }
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .degree_span {
  font-size: 0.9rem;
  color: #284b63;
  line-height: 2rem;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .l_circle {
  background-color: #fff;
  height: 8px;
  width: 8px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #1e2124;
  left: -17px;
  top: 14px;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .connect {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #1e2124;
  top: 17px;
  left: -10px;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .other_parts .others_title {
  font-weight: bold;
  margin: 1rem 0 0 1rem;
}

@media (max-width: 576px) {
  .resume__container .resume .prog_lan .programming .about_msg .languages .language .other_parts .others_title {
    font-size: 1rem;
  }
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .other_parts ul {
  -webkit-columns: 3;
          columns: 3;
  list-style: disc;
  margin-left: 1rem;
}

@media (max-width: 576px) {
  .resume__container .resume .prog_lan .programming .about_msg .languages .language .other_parts ul {
    font-size: 14px;
    -webkit-columns: 1;
            columns: 1;
  }
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .desc {
  color: gray;
}

@media (max-width: 576px) {
  .resume__container .resume .prog_lan .programming .about_msg .languages .language .desc {
    font-size: 14px;
  }
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries {
  margin-top: 1rem;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure {
  position: relative;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .library {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .library .degree {
  font-size: 0.8rem;
  color: #284b63;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

@media (max-width: 576px) {
  .resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .library {
    gap: auto;
  }
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .library .library_logo {
  width: 4rem;
  height: 2rem;
  margin: 10px 0 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  -webkit-user-drag: none;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .library .library_logo.html {
  height: 3rem;
  padding-bottom: 5px;
  width: auto;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .library .library_logo.css {
  height: 2.8rem;
  padding-bottom: 5px;
  width: auto;
  margin-bottom: 8px;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .library .library_logo.router {
  margin-bottom: 5px;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .library .library_logo.sql {
  height: 2.5rem;
  margin-bottom: 3px;
  margin-top: 0px;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar_default {
  height: 7px;
  width: 100%;
  background-color: lightgray;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar {
  position: absolute;
  background-color: #1e2124;
  height: 7px;
  bottom: 0;
  width: 0;
  cursor: pointer;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar.node {
  width: 60%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar.react {
  width: 90%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar.express {
  width: 90%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar.router {
  width: 60%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar.redux {
  width: 40%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar.mongoose {
  width: 90%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar.pytorch {
  width: 50%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar.pygame {
  width: 60%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar.numpy {
  width: 70%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar.pandas {
  width: 70%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar.sql {
  width: 80%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .libraries .skill_measure .progress_bar.mongo {
  width: 60%;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .lan {
  position: relative;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language .lan .line {
  position: absolute;
  width: 87%;
  height: 2px;
  background-color: #1e2124;
  right: 0;
  top: 13px;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language.script {
  height: auto;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language.script ul {
  -webkit-columns: 3;
          columns: 3;
}

.resume__container .resume .prog_lan .programming .about_msg .languages .language.ml ul {
  list-style: disc;
}

.resume__container .resume .prog_lan .languages .title {
  font-size: 1rem;
  font-family: "Ubuntu";
  text-align: left;
  color: #1e2124;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .resume__container .resume .prog_lan .languages .title {
    font-size: 0.9rem;
  }
}

.resume__container .resume .prog_lan .languages .data {
  padding-left: 10px;
  border-left: 2px solid #1e2124;
}

.resume__container .resume .prog_lan .languages .data .border {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #1e2124;
  width: 100%;
  padding: 5px 20px 10px;
}

.resume__container .resume .prog_lan .languages .data .border .eng_uz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume__container .resume .prog_lan .languages .data .border .language {
  position: relative;
}

.resume__container .resume .prog_lan .languages .data .border .language .language_name {
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 576px) {
  .resume__container .resume .prog_lan .languages .data .border .language .language_name {
    font-size: 0.9rem;
  }
}

.resume__container .resume .prog_lan .languages .data .border .language ul {
  padding-left: 1rem;
}

@media (max-width: 576px) {
  .resume__container .resume .prog_lan .languages .data .border .language .level {
    font-size: 0.9rem;
  }
}

.resume__container .resume .prog_lan .languages .data .border .korean .level {
  margin-bottom: 5px;
}

.resume__container .resume .prog_lan .languages .data .border .korean .desc {
  color: #4d4d4d;
}

@media (max-width: 576px) {
  .resume__container .resume .prog_lan .languages .data .border .korean .desc {
    font-size: 14px;
  }
}
/*# sourceMappingURL=about.css.map */