@import "../general/general.scss";

.resume__container {
	width: 72rem;
	position: relative;
	margin: auto;
	padding-top: 5rem;
	@include media_1 {
		width: 60rem;
	}

	@include media_2 {
		width: 50rem;
	}

	@include media_3 {
		width: 45rem;
	}

	@include media_4 {
		flex-direction: column-reverse;
		gap: 0;
		margin-top: 8rem;
		justify-content: center;
		gap: 4rem;
		height: 90vh;
		width: 38rem;
	}

	@include media_5 {
		width: 90%;
	}

	hr {
		position: absolute;
		top: 13rem;
		border: 0;
		width: 100%;
		height: 1px;
		background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.9),
			rgba(0, 0, 0, 0)
		);
	}

	.backscript {
		position: absolute;
		// letter-spacing: 2rem;
		color: $color_back;
		font-size: 4rem;
		font-family: "Lobster";
		width: 100%;
		height: min-content;
		z-index: -1;
		margin: auto;
		padding-left: 3rem;
		left: -5rem;
		text-align: center;
		top: 3rem;

		h1 {
			margin: 0;
			padding: 0;
		}
	}

	.resume {
		@include flex($align: flex-start);
		margin-top: 10rem;

		.edu_ach {
			@include flex($direc: column, $gap: 4rem);
		}
		.title {
			font-size: 1.5rem;
			font-family: "Ubuntu";
			text-align: left;
			margin-bottom: 1rem;
		}
		.row_me {
			@include flex();

			.img_container {
				overflow: hidden;
				width: 19rem;
				height: 19rem;
				position: relative;

				.about_img {
					user-select: none;
					-webkit-user-drag: none;
					object-fit: contain;
					width: 100%;
					height: 100%;
					// background-color: black;
					// border-radius: 70% 20% 40% 50% / 90% 20% 60% 30%;
				}
			}

			.education {
				.data {
					border-left: 2px solid $color_blue;
					padding-left: 10px;
					position: relative;
					@include flex($direc: column, $jus: left, $align: flex-start);
					.l_circle {
						background-color: #fff;
						height: 8px;
						width: 8px;
						position: absolute;
						border-radius: 50%;
						border: 1px solid $color_blue;
					}
					.connect {
						position: absolute;
						width: 10px;
						height: 2px;
						background-color: $color_blue;
					}
					.connect.first {
						top: 33px;
						left: 2px;
					}

					.connect.second {
						top: 135px;
						left: 2px;
					}

					.l_circle.first {
						top: 30px;
						left: -5px;
					}

					.l_circle.second {
						top: 132px;
						left: -5px;
					}
					.connect.third {
						top: 462px;
						left: 2px;
					}

					.l_circle.third {
						top: 459px;
						left: -5px;
					}

					.chonnam,
					.kaist,
					.other_courses {
						@include flex($direc: column, $align: flex-start, $gap: auto);
						padding: 1rem;
						width: 100%;
						border: 2px solid $color_blue;
						// box-shadow: 0 0 5px $color_lightgray;
						// height: 5rem;

						.year_major {
							@include flex($jus: left);
							font-size: 0.9rem;

							.major {
								font-weight: 600;
								font-size: 0.95rem;
							}
						}

						.univ_name {
							@include transition(0.2s);
							cursor: pointer;
							position: relative;
							color: $color_blue;
							font-weight: bold;

							&::after {
								content: "";
								position: absolute;
								width: 0;
								height: 2px;
								bottom: 0;
								left: 0;
								background-color: $color_dark;
								transform-origin: 0 100%;
								@include transition(0.3s);
							}

							&:hover::after {
								width: 100%;
							}
							a {
								text-decoration: none;
								color: $color_blue;
							}
						}
					}

					.courses {
						position: relative;
						ul {
							padding-left: 1rem;
							position: relative;
							.course_code {
								width: 5rem;
							}
						}

						.title {
							margin-top: 1rem;
							font-size: 1rem;
							font-weight: 500;
							text-decoration: none;
						}
					}

					.other_courses {
						overflow: hidden;
						height: 3.5rem;
						@include transition(0.6s);
						transition: background-color 0.1s ease;
						&:hover {
							background-color: $color_gray_text;
							cursor: pointer;
						}
						.title {
							font-size: 1rem;
							font-weight: 500;

							.click {
								font-weight: lighter;
								font-size: small;
								color: $color_hover;
							}
						}

						.courses {
							@include flex($direc: column, $align: left);
							.course {
								a.course_name {
									text-decoration: none;
									color: $color_dark;
									font-weight: 600;
									cursor: pointer;
									position: relative;
									&::after {
										content: "";
										position: absolute;
										width: 0;
										height: 2px;
										bottom: 0;
										left: 0;
										background-color: $color_dark;
										transform-origin: 0 100%;
										@include transition(0.3s);
									}

									&:hover::after {
										width: 100%;
									}
								}
								.details {
									color: $color_gray_text;
									@include flex($jus: left);
									p {
										font-weight: 500;
										margin-bottom: 10px;
									}
								}
							}
						}
					}
					.show {
						height: 20rem;
						@include transition(0.6s);

						.title {
							.click {
								display: none;
							}
						}
						&:hover {
							background-color: white;
							cursor: auto;
						}
					}
				}
			}
		}

		.row_sketch {
			@include flex();

			.about_msg {
				.languages {
					position: relative;
					padding-left: 10px;
					border-left: 2px solid $color_blue;

					ul {
						padding-left: 1rem;
						columns: 2;
						list-style: none;
					}

					h3 {
						font-family: "Forum";
						font-family: bold;
						font-size: 1.3rem;
						color: $color_blue;
						margin-bottom: 10px;
						.degree {
							font-size: 0.9rem;
							font-weight: lighter;
							color: $color_hover;
						}
					}

					.language {
						padding: 1rem;
						width: 35rem;
						border: 2px solid $color_blue;
						margin-bottom: 1rem;
						position: relative;
						// border-radius: 10px;

						.l_circle {
							background-color: #fff;
							height: 8px;
							width: 8px;
							position: absolute;
							border-radius: 50%;
							border: 1px solid $color_blue;
							left: -17px;
							top: 23px;
						}

						.connect {
							position: absolute;
							width: 10px;
							height: 2px;
							background-color: $color_blue;
							top: 26px;
							left: -10px;
						}

						.other_parts {
							.others_title {
								font-weight: bold;
								margin: 1rem 0 0 1rem;
							}
							ul {
								columns: 3;
								list-style: disc;
								margin-left: 1rem;
							}
						}

						.skill_measure {
							position: relative;
							// @include flex($jus: left);

							.library {
								@include flex($align: flex-end);
								.degree {
									font-size: 0.8rem;
									color: $color_hover;
								}
							}

							.progress_bar_default {
								height: 7px;

								// border-radius: 10px;
								width: 100%;
								background-color: $color_lightgray;
							}

							.progress_bar {
								position: absolute;
								background-color: $color_blue;
								height: 7px;
								// border-radius: 10px;
								bottom: 0;
								width: 0;
								cursor: pointer;
							}

							.progress_bar.node {
								width: 60%;
							}

							.progress_bar.react {
								width: 90%;
							}

							.progress_bar.express {
								width: 90%;
							}

							.progress_bar.router {
								width: 60%;
							}

							.progress_bar.redux {
								width: 40%;
							}

							.progress_bar.mongoose {
								width: 90%;
							}

							.progress_bar.pytorch {
								width: 50%;
							}
							.progress_bar.pygame {
								width: 60%;
							}
							.progress_bar.numpy {
								width: 70%;
							}
							.progress_bar.pandas {
								width: 70%;
							}
							.progress_bar.sql {
								width: 80%;
							}
							.progress_bar.mongo {
								width: 60%;
							}
							.progress_bar.html {
								width: 95%;
							}
							.progress_bar.css {
								width: 95%;
							}
						}

						.desc {
							color: $color_gray_text;
						}

						.libraries {
							margin-top: 1rem;

							.library_logo {
								width: 5rem;
								height: 2rem;
								margin: 10px 0 0 0;
								object-fit: contain;
								cursor: pointer;
								-webkit-user-drag: none;
							}

							.library_logo.html {
								height: 2.8rem;
								margin-bottom: 3px;
								width: auto;
							}
							.library_logo.css {
								height: 2.8rem;
								width: auto;
								margin-bottom: 3px;
							}

							.library_logo.router {
								margin-bottom: 5px;
							}
							.library_logo.sql {
								height: 2.5rem;
								margin-bottom: 3px;
								margin-top: 0px;
							}
						}

						.lan {
							position: relative;

							.line {
								position: absolute;
								width: 87%;
								height: 2px;
								background-color: $color_blue;
								right: 0;
								top: 13px;
							}
						}
					}
				}
			}
			.img_container {
				overflow: hidden;
				width: 22rem;
				height: 22rem;
				position: relative;
				margin-top: -10rem;

				.about_img {
					user-select: none;
					-webkit-user-drag: none;
					object-fit: contain;
					width: 100%;
					height: 100%;
					// background-color: black;
					// border-radius: 70% 20% 40% 50% / 90% 20% 60% 30%;
				}
			}
		}

		.achievements {
			@include flex;

			.img_container {
				overflow: hidden;
				width: 19rem;
				height: 19rem;
				position: relative;

				.achieve_img {
					user-select: none;
					-webkit-user-drag: none;
					object-fit: contain;
					width: 100%;
					height: 100%;
				}
			}

			.data_container {
				.data {
					position: relative;
					padding-left: 10px;
					border-left: 2px solid $color_blue;
				}

				.achievement {
					@include flex($gap: 0, $direc: column, $align: left);
					padding: 1rem;
					width: 35rem;
					border: 2px solid $color_blue;
					margin-bottom: 1rem;
					position: relative;
					.l_circle {
						background-color: #fff;
						height: 8px;
						width: 8px;
						position: absolute;
						border-radius: 50%;
						border: 1px solid $color_blue;
						top: 25px;
						left: -17px;
					}
					.connect {
						position: absolute;
						width: 10px;
						height: 2px;
						background-color: $color_blue;
						top: 27.5px;
						left: -10px;
					}

					.title {
						margin-bottom: 0;
						color: $color_blue;

						.among {
							font-size: 1.1rem;
							color: $color_hover;
						}
					}
					.details {
						@include flex($jus: left);
						.date {
							font-size: 0.9rem;
						}
						.place {
							font-size: 0.9rem;
							font-weight: 600;
						}
					}
				}
			}
		}

		.row_me {
			.education {
				.data {
					border-left: 2px solid $color_dark;
					padding-left: 10px;
					position: relative;
					@include flex($direc: column, $jus: left, $align: flex-start);

					.l_circle {
						background-color: #fff;
						height: 8px;
						width: 8px;
						position: absolute;
						border-radius: 50%;
						border: 1px solid $color_blue;
					}
					.connect {
						position: absolute;
						width: 10px;
						height: 2px;
						background-color: $color_blue;
					}
					.connect.first {
						top: 33px;
						left: 2px;
					}

					.connect.second {
						top: 135px;
						left: 2px;
					}

					.l_circle.first {
						top: 30px;
						left: -5px;
					}

					.l_circle.second {
						top: 132px;
						left: -5px;
					}
					.connect.third {
						top: 458px;
						left: 2px;
					}

					.l_circle.third {
						top: 455px;
						left: -5px;
					}

					.chonnam,
					.kaist,
					.other_courses {
						@include flex($direc: column, $align: flex-start, $gap: auto);
						padding: 1rem;
						width: 100%;
						border: 2px solid $color_dark;

						.year_major {
							@include flex($jus: left);
							font-size: 0.8rem;
							color: $color_text_secondary;

							.major {
								font-weight: 700;
								font-size: 0.95rem;
							}
						}

						.univ_name {
							@include transition(0.2s);
							cursor: pointer;
							position: relative;
							color: $color_dark;
							font-weight: 700;

							&::after {
								content: "";
								position: absolute;
								width: 0;
								height: 2px;
								bottom: 0;
								left: 0;
								background-color: $color_dark;
								transform-origin: 0 100%;
								@include transition(0.3s);
							}

							&:hover::after {
								width: 100%;
							}
							a {
								font-size: 1.3rem;
								text-decoration: none;
								color: $color_dark;
								font-weight: 700;
							}
						}
					}

					.courses {
						position: relative;
						ul {
							padding-left: 1rem;
							position: relative;
							.course_code {
								width: 5rem;
							}
						}

						.title {
							margin-top: 1rem;
							font-size: 1rem;
							font-weight: 500;
							text-decoration: none;
						}
					}

					.other_courses {
						overflow: hidden;
						height: 3.5rem;
						@include transition(0.6s);
						&:hover {
							background-color: $color_back;
							cursor: pointer;
						}
						.title {
							font-size: 1rem;
							font-weight: 500;

							.click {
								font-weight: lighter;
								font-size: small;
								color: $color_hover;
							}
						}

						.courses {
							@include flex($direc: column, $align: left);
							.course {
								a.course_name {
									text-decoration: none;
									color: $color_dark;
									font-weight: 600;
									cursor: pointer;
									position: relative;
									&::after {
										content: "";
										position: absolute;
										width: 0;
										height: 2px;
										bottom: 0;
										left: 0;
										background-color: $color_dark;
										transform-origin: 0 100%;
										@include transition(0.3s);
									}

									&:hover::after {
										width: 100%;
									}
								}
								.details {
									color: $color_gray_text;
									@include flex($jus: left);
									p {
										font-weight: 500;
										margin-bottom: 10px;
									}
								}
							}
						}
					}
					.show {
						height: 20rem;
						@include transition(0.6s);

						.title {
							.click {
								display: none;
							}
						}
						&:hover {
							background-color: white;
							cursor: auto;
						}
					}
				}
			}
		}

		.row_sketch {
			.about_msg {
				.languages {
					position: relative;
					padding-left: 10px;
					border-left: 2px solid $color_dark;

					ul {
						padding-left: 1rem;
						columns: 2;
						list-style: none;
					}
					.others h3 {
						margin-bottom: 0;
					}

					.language {
						padding: 1rem;
						width: 35rem;
						border: 2px solid $color_dark;
						margin-bottom: 1rem;
						position: relative;
						// border-radius: 10px;

						h3 {
							font-family: "Ubuntu";
							font-size: 1.5rem;
							color: $color_dark;
						}

						.degree_span {
							font-size: 0.9rem;
							color: $color_hover;
							line-height: 2rem;
						}

						.l_circle {
							background-color: #fff;
							height: 8px;
							width: 8px;
							position: absolute;
							border-radius: 50%;
							border: 1px solid $color_blue;
							left: -17px;
							top: 23px;
						}

						.connect {
							position: absolute;
							width: 10px;
							height: 2px;
							background-color: $color_blue;
							top: 26px;
							left: -10px;
						}

						.other_parts {
							.others_title {
								font-weight: bold;
								margin: 1rem 0 0 1rem;
							}
							ul {
								columns: 3;
								list-style: disc;
								margin-left: 1rem;
							}
						}

						.skill_measure {
							position: relative;
							// @include flex($jus: left);

							.library {
								@include flex($align: flex-end);
								.degree {
									font-size: 0.8rem;
									color: $color_hover;
								}
							}

							.progress_bar_default {
								height: 7px;

								// border-radius: 10px;
								width: 100%;
								background-color: $color_lightgray;
							}

							.progress_bar {
								position: absolute;
								background-color: $color_blue;
								height: 7px;
								// border-radius: 10px;
								bottom: 0;
								width: 0;
								cursor: pointer;
							}

							.progress_bar.node {
								width: 60%;
							}

							.progress_bar.react {
								width: 90%;
							}

							.progress_bar.express {
								width: 90%;
							}

							.progress_bar.router {
								width: 60%;
							}

							.progress_bar.redux {
								width: 40%;
							}

							.progress_bar.mongoose {
								width: 90%;
							}

							.progress_bar.pytorch {
								width: 50%;
							}
							.progress_bar.pygame {
								width: 60%;
							}
							.progress_bar.numpy {
								width: 70%;
							}
							.progress_bar.pandas {
								width: 70%;
							}
							.progress_bar.sql {
								width: 80%;
							}
							.progress_bar.mongo {
								width: 60%;
							}
							.progress_bar.html {
								width: 95%;
							}
							.progress_bar.css {
								width: 95%;
							}
						}

						.desc {
							color: $color_gray_text;
						}

						.libraries {
							margin-top: 1rem;

							.library_logo {
								width: 5rem;
								height: 2rem;
								margin: 10px 0 0 0;
								object-fit: contain;
								cursor: pointer;
								-webkit-user-drag: none;
							}

							.library_logo.html {
								height: 2.8rem;
								margin-bottom: 3px;
								width: auto;
							}
							.library_logo.css {
								height: 2.8rem;
								width: auto;
								margin-bottom: 3px;
							}

							.library_logo.router {
								margin-bottom: 5px;
							}
							.library_logo.sql {
								height: 2.5rem;
								margin-bottom: 3px;
								margin-top: 0px;
							}
						}

						.lan {
							position: relative;

							.line {
								position: absolute;
								width: 87%;
								height: 2px;
								background-color: $color_blue;
								right: 0;
								top: 13px;
							}
						}
					}
				}
			}
		}

		.achievements {
			@include flex;

			.img_container {
				overflow: hidden;
				width: 19rem;
				height: 19rem;
				position: relative;

				.achieve_img {
					user-select: none;
					-webkit-user-drag: none;
					object-fit: contain;
					width: 100%;
					height: 100%;
				}
			}

			.data_container {
				.data {
					position: relative;
					padding-left: 10px;
					border-left: 2px solid $color_blue;
				}

				.achievement {
					@include flex($gap: 0, $direc: column, $align: left);
					padding: 1rem;
					width: 35rem;
					border: 2px solid $color_blue;
					margin-bottom: 1rem;
					position: relative;
					.l_circle {
						background-color: #fff;
						height: 8px;
						width: 8px;
						position: absolute;
						border-radius: 50%;
						border: 1px solid $color_blue;
						top: 25px;
						left: -17px;
					}
					.connect {
						position: absolute;
						width: 10px;
						height: 2px;
						background-color: $color_blue;
						top: 27.5px;
						left: -10px;
					}

					.title {
						margin-bottom: 0;
						color: $color_blue;

						.among {
							font-size: 1.1rem;
							color: $color_hover;
						}
					}
					.details {
						@include flex($jus: left);
						.date {
							font-size: 0.9rem;
						}
						.place {
							font-size: 0.9rem;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}
