@import "../general/general";

.contact__container {
	position: relative;
	height: 89vh;
	width: 72rem;
	margin: auto;
	padding-top: 6rem;

	@include media_1 {
		width: 60rem;
	}

	@include media_2 {
		width: 50rem;
	}

	@include media_3 {
		width: 45rem;
	}

	@include media_4 {
		width: 38rem;
		height: auto;
	}

	@include media_5 {
		width: 90%;
	}

	.title {
		width: 100%;
		text-align: left;
		font-family: "Lobster";

		.back {
			color: $color_back;
			font-size: 6rem;
			padding-left: 2rem;

			@include media_6 {
				font-size: 4rem;
			}
		}

		.title_up {
			position: absolute;
			top: 9rem;
			@include media_6 {
				top: 8rem;
			}
			@include media_7 {
				font-size: 13px;
				left: 2rem;
			}
		}
	}

	.data {
		@include flex;
		position: relative;
		@include media_4 {
			flex-direction: column;
			margin-bottom: 3rem;
		}
		.my_info {
			flex-basis: 40%;
			margin-left: 3rem;
			@include media_2 {
				margin-left: 0;
			}

			@include media_4 {
				flex-basis: 100%;
				width: 100%;
			}
			.me {
				@include flex($jus: space-around, $direc: column, $gap: 10px, $align: left);
				font-family: "Ubuntu";
				img {
					height: 8rem;
					width: 8rem;
					object-position: left;
					border-radius: 50%;
					object-fit: contain;
				}
				.name_job {
					.name {
						font-weight: bolder;
						margin-bottom: 10px;
					}

					hr {
						border: 0;
						width: 100%;
						height: 1px;
						margin-top: 1rem;
						margin-bottom: 1rem;
						background-image: linear-gradient(
							to right,
							rgba(0, 0, 0, 0.9),
							rgba(0, 0, 0, 0),
							rgba(0, 0, 0, 0)
						);
					}
				}
			}

			.address_contact {
				@include flex($direc: column, $gap: 1rem, $align: left);
			}
		}

		.contact_message {
			flex-basis: 50%;
			position: relative;
			height: max-content;
			@include flex($direc: column, $align: left, $jus: center);
			@include media_4 {
				flex-basis: 100%;
				width: 100%;
				margin-top: 2rem;
			}

			input {
				outline: none;
				border: none;
				border-bottom: 1px solid hsl(0, 0%, 93%);
				font-size: 1rem;
				height: 2rem;
				font-family: "Poppins";

				@include media_7 {
					font-size: 14px;
				}
			}

			textarea {
				font-family: "Poppins";
				font-size: 1rem;
				border: none;
				outline: none;
				margin-top: 2rem;
				border-bottom: 1px solid hsl(0, 0%, 93%);
				resize: none;
				@include media_7 {
					font-size: 14px;
				}
			}

			button {
				width: 6rem;
				padding: 8px 0;
				background-color: $color_white;
				border: 1px solid $color_dark;
				border-radius: 5px;
				@include transition(0.3s);

				&:hover {
					color: $color_white;
					background-color: $color_dark;
				}
			}
		}
	}
}
