$color_blue: hsl(183, 31%, 24%);
$color_hover: #284b63;
$color_dark: hsl(207, 10%, 13%);
$color_white: #fff;
$color_back: #f4f4f4;
$color_lightgray: lightgray;
$color_gray_text: gray;
$color_text_secondary: hsl(0, 0%, 30%);

$breakpoint_1: 1200px;
$breakpoint_2: 992px;
$breakpoint_3: 870px;
$breakpoint_4: 768px;
$breakpoint_5: 655px;
$breakpoint_6: 576px;
$breakpoint_7: 375px;

@mixin media_1 {
	@media (max-width: $breakpoint_1) {
		@content;
	}
}

@mixin media_2 {
	@media (max-width: $breakpoint_2) {
		@content;
	}
}
@mixin media_3 {
	@media (max-width: $breakpoint_3) {
		@content;
	}
}

@mixin media_4 {
	@media (max-width: $breakpoint_4) {
		@content;
	}
}

@mixin media_5 {
	@media (max-width: $breakpoint_5) {
		@content;
	}
}
@mixin media_6 {
	@media (max-width: $breakpoint_6) {
		@content;
	}
}
@mixin media_7 {
	@media (max-width: $breakpoint_7) {
		@content;
	}
}
@mixin media_6 {
	@media (max-width: $breakpoint_6) {
		@content;
	}
}

@mixin flex($direc: row, $jus: space-between, $align: center, $gap: 1rem) {
	display: flex;
	flex-direction: $direc;
	gap: $gap;
	align-items: $align;
	justify-content: $jus;
}

@mixin transition($time: 0.4s, $type: ease-in-out) {
	transition: all $time $type;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Nunito Sans";
	overflow: hidden;
}
